/* Align right */
.alignright {
	/* float: right; */
	/* margin-left: 1em; */
	/* margin-bottom: 1em; */
	margin: 0 auto 1em;
}

/* Align left */
.alignleft {
	/* float: left; */
	/* margin-right: 1em; */
	/* margin-bottom: 1em; */
	margin: 0 auto 1em;
}

/* Align center */
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;
}

/* Captions */
.wp-caption {
	border: 1px solid #ddd;
	text-align: center;
	background-color: #f9f9f9;
	padding-top: 4px;
	margin: 10px;
}

.wp-caption img {
	margin: 0;
	padding: 0;
	border: 0 none;
}

.wp-caption-text {
	margin: 0;
	padding: 0 4px 5px;
	font-size: 11px;
	line-height: 17px;
	color: #777;
}

/* Custom blockquote styles */
blockquote {
	margin: 1em 40px;
	padding: 0.5em 10px;
	border-left: 5px solid #999;
	color: #333;
	font-style: italic;
	background: #f9f9f9;
}

iframe {
	max-width: 100%;
}

@media screen and (min-width: 900px) {
	.alignright {
		float: right;
		margin-left: 1em;
		margin-bottom: 1em;
	}

	/* Align left */
	.alignleft {
		float: left;
		margin-right: 1em;
		margin-bottom: 1em;
	}
}
