.color-grey {
  color: #555759;
}

.color-dark-blue {
  color: #102851;
}

.color-light-blue {
  color: #2aa7ff;
}

.color-white {
  color: white;
}

button {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.primary-button {
  background: #2aa7ff;
  font-size: 1rem;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  border: 1px solid #2aa7ff;
  text-decoration: none;
}
.primary-button:hover {
  opacity: 0.8;
}

.outline-button {
  color: #2aa7ff;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  border: 1px solid #2aa7ff;
  text-decoration: none;
}
.outline-button:hover {
  opacity: 0.8;
}

.hero {
  background-image: url("../assets/images/hero-background.png");
  background-size: cover;
  background-position: center;
  margin-top: -6rem;
  padding-top: 6rem;
  position: relative;
}
.hero .container {
  height: 100%;
}
.hero .container > .row {
  height: 100%;
}
.hero .container > .row .col.left-col {
  height: 100%;
  padding-right: calc(5vw + 1rem);
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  padding-top: 2rem;
  justify-content: space-between;
  gap: 2rem;
}
.hero .container > .row .col.left-col .text p:first-child {
  margin-bottom: 0.5rem;
}
.hero .container > .row .col.left-col .button-row button:first-child {
  margin-right: 1rem;
}
.hero .container > .row .col.left-col .icon-row {
  padding-top: 2rem;
}
.hero .container > .row .col.left-col .icon-row > img {
  position: static;
  height: 4rem;
  width: auto;
}
.hero img {
  position: absolute;
  top: 6rem;
  left: 50%;
  height: calc(100% - 6rem);
  width: 50%;
  max-width: 900px;
  object-fit: cover;
  object-position: 40% center;
}

.learn-more-section {
  padding: 8rem 0;
}
.learn-more-section .row {
  display: flex;
  justify-content: space-between;
}
.learn-more-section .col {
  flex: 1;
  position: relative;
}
.learn-more-section .col.learn-more-content {
  flex: 4;
}
.learn-more-section .col.learn-more-images {
  flex: 3;
}
.learn-more-section .learn-more-images {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.learn-more-section .learn-more-images img {
  position: absolute;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 70%;
}
.learn-more-section .learn-more-images img.img-top {
  top: 0;
  right: 0;
}
.learn-more-section .learn-more-images img.img-bottom {
  bottom: 0;
  left: 0;
  transform: translateX(-10%);
}
.learn-more-section .learn-more-content {
  padding-left: 3rem;
  padding-top: 2rem;
}
.learn-more-section .learn-more-content h2 {
  margin-bottom: 20px;
  color: #102851;
  line-height: 1.3;
}
.learn-more-section .learn-more-content h2.subheading {
  color: #2aa7ff;
  margin-bottom: 5px;
}
.learn-more-section .learn-more-content > p {
  line-height: 1.6;
  margin-bottom: 2rem;
}
.learn-more-section .learn-more-content .learn-more-goals {
  display: flex;
  justify-content: space-between;
}
.learn-more-section .learn-more-content .learn-more-goals .goal,
.learn-more-section .learn-more-content .learn-more-goals .mission {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.learn-more-section .learn-more-content .learn-more-goals .goal h3,
.learn-more-section .learn-more-content .learn-more-goals .mission h3 {
  display: flex;
  align-items: center;
  color: #102851;
  font-size: 20px;
  margin-bottom: 10px;
}
.learn-more-section .learn-more-content .learn-more-goals .goal h3 .check-icon,
.learn-more-section .learn-more-content .learn-more-goals .mission h3 .check-icon {
  margin-right: 10px;
  width: 20px;
  height: auto;
}
.learn-more-section .learn-more-content .learn-more-goals .goal p,
.learn-more-section .learn-more-content .learn-more-goals .mission p {
  line-height: 1.6;
}
.learn-more-section .learn-more-content .learn-more-goals .separator {
  width: 2px;
  background-color: #ccc;
  margin: 0 20px;
}

.why-us-section {
  text-align: center;
  padding: 50px 0;
}
.why-us-section h2 {
  color: #102851;
  margin-bottom: 3rem;
}
.why-us-section h2.subheading {
  color: #2aa7ff;
  margin-bottom: 0px;
}
.why-us-section h1 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 40px;
}
.why-us-section .cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}
.why-us-section .cards .card {
  flex: 1;
  min-width: 220px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease;
}
.why-us-section .cards .card .icon {
  margin-bottom: 20px;
}
.why-us-section .cards .card h3 {
  margin-bottom: 10px;
  color: #102851;
}
.why-us-section .cards .card p {
  color: #555759;
}
.why-us-section .cards .card:hover {
  background-color: #2aa7ff;
  color: #ffffff;
}
.why-us-section .cards .card:hover h3,
.why-us-section .cards .card:hover p {
  color: #ffffff;
}
.why-us-section .cards .card.active {
  background-color: #2aa7ff;
  color: #ffffff;
}
.why-us-section .cards .card.active h3,
.why-us-section .cards .card.active p {
  color: #ffffff;
}

/*# sourceMappingURL=front-page.css.map */
