header {
	background: transparent;
	height: 4rem; /* 68px converted to rem */
	display: flex;
	justify-content: center;
	margin: 1.3rem 0; /* 22px converted to rem */
}

header nav {
	flex-grow: 1;
	/* vertical center links */
	display: flex;
	flex-direction: column;
	justify-content: center;
}

header .logo img {
	max-height: 100%;
	width: auto;
	border: none;
	padding: 0;
	margin-right: 1rem;
}

/* Menu top level Styles */
header nav ul.top-menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	gap: 0.5rem;
	align-items: center;
}

header nav ul.top-menu li {
	position: relative; /* so submenu can be absolute */
}

header nav ul.top-menu > li:nth-last-child(3) {
	margin-right: auto; /* centered menu */
}
header nav ul.top-menu > li:first-child {
	margin-left: auto; /* right aligned special buttons */
}

/* Link styles */
header nav ul.top-menu li a {
	display: block;
	color: var(--dark-blue, #102851);
	font-size: 1rem; /* 20px converted to rem */
	text-decoration: none;
	text-align: center;
	padding: 1rem 0.75rem; /* vertical padding for submenu*/
}

header nav ul.top-menu li:hover > a,
header nav ul.top-menu li:focus-within > a {
	/* Hover and focus-within state for top-level links */
	opacity: 0.5;
}

header nav ul.top-menu li.current-menu-item > a,
header nav ul.top-menu li.current-menu-ancestor > a,
header nav ul.top-menu li.current-menu-parent > a {
	/* Active link styles */
	font-weight: 600;
	text-decoration: underline;
}
header nav ul.top-menu > li.current-menu-item:nth-last-child(2) > a {
	/* Active link styles */
	font-weight: 400;
	text-decoration: none;
}

/* Special Link Styles  */
header nav ul.top-menu > li:nth-last-child(2) {
	padding: 0.5rem 1rem; /* 7px 24px converted to rem */
	border-radius: 0.4rem; /* 7px converted to rem */
	border: 1px solid var(--OSNT, #2aa7ff);
}
header nav ul.top-menu > li:nth-last-child(2) > a {
	color: var(--OSNT, #2aa7ff);
	padding: 0;
}
header nav ul.top-menu > li:nth-last-child(1) {
	background: var(--OSNT, #2aa7ff);
	padding: 0.5rem 1rem; /* 7px 24px converted to rem */
	border-radius: 0.4rem; /* 7px converted to rem */
}
header nav ul.top-menu > li:nth-last-child(1):hover {
	opacity: 0.8;
}
header nav ul.top-menu > li:nth-last-child(1) > a {
	color: white;
	padding: 0;
}
header nav ul.top-menu > li:nth-last-child(1):hover > a {
	opacity: 1;
}

/* Submenu Styles */
header nav ul.top-menu li ul.sub-menu {
	display: none; /* Hide sub-menu by default */
	position: absolute;
	list-style-type: none;
	background: white;
	padding: 0;
	margin: 0;
	left: -0.25rem;
	min-width: 9rem; /* 150px converted to rem */
	border-radius: 0.5rem;
	box-shadow: 0px 0px 1.5rem 0px #0000001c; /* 25.6px converted to rem */
	white-space: nowrap;
}

/* Display submenu on hover and focus-within */
header nav ul.top-menu li:hover > ul.sub-menu,
header nav ul.top-menu li:focus-within > ul.sub-menu {
	display: block;
}

/* Submenu link styles */
header nav ul.top-menu li ul.sub-menu li a {
	font-size: 0.8rem; /* 15px converted to rem */
	padding: 0.25rem 1rem;
	text-align: left;
}

/* Sub Sub Menu Styles */
header nav ul.top-menu .menu-item-has-children .sub-menu > .menu-item-has-children:hover .sub-menu,
header nav ul.top-menu .menu-item-has-children .sub-menu > .menu-item-has-children:focus-within .sub-menu {
	display: block;
}

header nav ul.top-menu .sub-menu li {
	position: static; /* keeps subsub-menu to top */
}

header nav ul.top-menu .sub-menu li .sub-menu {
	position: absolute;
	top: 0;
	background: white;
	box-shadow: 0px 0px 1.5rem 0px #0000001c; /* 25.6px converted to rem */
	white-space: nowrap;
	list-style-type: none;
	padding: 0;
	left: calc(100%);
}

@media (min-width: 1024px) and (max-width: 1439px) {
	header nav ul.top-menu > li:nth-last-child(2) {
		display: none;
	}
	header nav ul.top-menu > li:first-child {
		display: none;
	}
}
