/* Base styles for the header */
header {
	background: transparent;
	height: 68px;
	display: flex;
	justify-content: center;
	margin: 22px 0;
}

header nav {
	flex-grow: 1;
	/* vertical center links */
	display: flex;
	flex-direction: column;
	justify-content: center;
}

header .logo img {
	max-height: 100%;
	width: auto;
	border: none;
	padding: 0;
}

/* Menu top level Styles */
header nav ul.top-menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	gap: 2rem;
	align-items: center;
}

header nav ul.top-menu li {
	position: relative; /* so submenu can be absolute */
}

header nav ul.top-menu > li:nth-last-child(2) {
	margin-left: auto; /* centered menu */
}
header nav ul.top-menu > li:first-child {
	margin-left: auto; /* right aligned special buttons */
}

/* Link styles */
header nav ul.top-menu li a {
	display: block;
	color: var(--dark-blue, #102851);
	font-size: 20px;
	text-decoration: none;
	text-align: center;
	padding: 0.75rem 0; /* vertical padding for submenu*/
}

header nav ul.top-menu li:hover > a,
header nav ul.top-menu li:focus-within > a {
	/* Hover and focus-within state for top-level links */
	opacity: 0.5;
}

header nav ul.top-menu li.current-menu-item > a,
header nav ul.top-menu li.current-menu-ancestor > a,
header nav ul.top-menu li.current-menu-parent > a {
	/* Active link styles */
	font-weight: 600;
	text-decoration: underline;
}

/* Special Link Styles  */
header nav ul.top-menu > li:nth-last-child(2) {
	padding: 7px 24px;
	border-radius: 7px;
	border: 1px solid var(--OSNT, #2aa7ff);
}
header nav ul.top-menu > li:nth-last-child(2) > a {
	color: var(--OSNT, #2aa7ff);
	padding: 0;
}
header nav ul.top-menu > li:nth-last-child(1) {
	background: var(--OSNT, #2aa7ff);
	padding: 7px 24px;
	border-radius: 7px;
}
header nav ul.top-menu > li:nth-last-child(1):hover {
	opacity: 0.8;
}
header nav ul.top-menu > li:nth-last-child(1) > a {
	color: white;
	padding: 0;
}
header nav ul.top-menu > li:nth-last-child(1):hover > a {
	opacity: 1;
}

/* Submenu Styles */
header nav ul.top-menu li ul.sub-menu {
	display: none; /* Hide sub-menu by default */
	position: absolute;
	list-style-type: none;
	background: white;
	padding: 0;
	margin: 0;
	left: -1rem;
	min-width: 150px;
	border-radius: 0.5rem;
	box-shadow: 0px 0px 25.6px 0px #0000001c;
	white-space: nowrap;
}

/* Display submenu on hover and focus-within */
header nav ul.top-menu li:hover > ul.sub-menu,
header nav ul.top-menu li:focus-within > ul.sub-menu {
	display: block;
}

/* Submenu link styles */
header nav ul.top-menu li ul.sub-menu li a {
	font-size: 15px;
	padding: 0.5rem 1rem;
	text-align: left;
}

/* Sub Sub Menu Styles */
header nav ul.top-menu .menu-item-has-children .sub-menu > .menu-item-has-children:hover .sub-menu,
header nav ul.top-menu .menu-item-has-children .sub-menu > .menu-item-has-children:focus-within .sub-menu {
	display: block;
}

header nav ul.top-menu .sub-menu li {
	position: static; /* keeps subsub-menu to top */
}

header nav ul.top-menu .sub-menu li .sub-menu {
	position: absolute;
	top: 0;
	background: white;
	box-shadow: 0px 0px 25.6px 0px #0000001c;
	white-space: nowrap;
	list-style-type: none;
	padding: 0;
	left: calc(100%);
}

/* Small Desktop  */
@media (min-width: 992px) and (max-width: 1199.98px) {
	header {
		height: 50px;
	}
	header nav ul.top-menu li a {
		font-size: 15px;
	}
}
