.color-grey {
  color: #555759;
}

.color-dark-blue {
  color: #102851;
}

.color-light-blue {
  color: #2aa7ff;
}

.color-white {
  color: white;
}

button {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.primary-button {
  background: #2aa7ff;
  font-size: 1rem;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  border: 1px solid #2aa7ff;
  text-decoration: none;
}
.primary-button:hover {
  opacity: 0.8;
}

.outline-button {
  color: #2aa7ff;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  border: 1px solid #2aa7ff;
  text-decoration: none;
}
.outline-button:hover {
  opacity: 0.8;
}

.header-spacer {
  height: 6rem;
}

header {
  background: transparent;
  height: 6rem;
  box-sizing: content-box;
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, height 0.3s ease;
}
header.scrolled {
  background: white;
  box-shadow: 0px 0px 1.5rem 0px rgba(0, 0, 0, 0.1098039216);
  height: 5rem;
}
header .container {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}
header .logo img {
  max-height: 3.5rem;
  width: auto;
  border: none;
  padding: 0;
  margin-right: 1rem;
}
header nav {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header nav ul.top-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  align-items: center;
}
header nav ul.top-menu > li {
  padding: 1rem 0.75rem;
}
header nav ul.top-menu > li:first-child {
  margin-left: auto;
}
header nav ul.top-menu > li:nth-child(2) {
  margin-left: none;
}
header nav ul.top-menu > li:nth-last-child(3) {
  margin-right: auto;
}
header nav ul.top-menu li {
  position: relative;
  cursor: pointer;
}
header nav ul.top-menu li:hover > a {
  opacity: 0.5;
}
header nav ul.top-menu li:hover > ul.sub-menu {
  display: block;
}
header nav ul.top-menu li:focus-within > a {
  opacity: 0.5;
}
header nav ul.top-menu li.current-menu-item > a, header nav ul.top-menu li.current-menu-ancestor > a, header nav ul.top-menu li.current-menu-parent > a {
  font-weight: 600;
  text-decoration: underline;
}
header nav ul.top-menu li > a {
  color: #102851;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
}
header nav ul.top-menu li ul.sub-menu {
  display: none;
  position: absolute;
  list-style-type: none;
  background: white;
  padding: 0;
  margin: 0;
  left: -0.25rem;
  top: 100%;
  min-width: 9rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 1.5rem 0px rgba(0, 0, 0, 0.1098039216);
  white-space: nowrap;
}
header nav ul.top-menu li ul.sub-menu li {
  position: static;
  padding: 0.25rem 1rem;
}
header nav ul.top-menu li ul.sub-menu li a {
  font-size: 0.8rem;
  text-align: left;
}
header nav ul.top-menu li ul.sub-menu li.menu-item-has-children ul.sub-menu {
  top: 0;
  left: 100%;
}
header nav ul.top-menu > li:nth-last-child(2) {
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  border: 1px solid #2aa7ff;
}
header nav ul.top-menu > li:nth-last-child(2) > a {
  color: #2aa7ff;
  padding: 0;
}
header nav ul.top-menu > li:nth-last-child(2).current-menu-item > a {
  font-weight: 400;
  text-decoration: none;
}
header nav ul.top-menu > li:nth-last-child(1) {
  background: #2aa7ff;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
}
header nav ul.top-menu > li:nth-last-child(1):hover {
  opacity: 0.8;
}
header nav ul.top-menu > li:nth-last-child(1):hover > a {
  opacity: 1;
}
header nav ul.top-menu > li:nth-last-child(1) > a {
  color: white;
  padding: 0;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  header nav ul.top-menu > li:nth-last-child(2) {
    display: none;
  }
  header nav ul.top-menu > li:first-child {
    display: none;
  }
  header nav ul.top-menu > li:nth-child(2) {
    margin-left: auto;
  }
}

/*# sourceMappingURL=header.css.map */
