@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
/* 95% @320 & 85% @1920 */
/* 95% @320 & 85% @1920 */
.header-spacer {
  height: 4rem;
}

header {
  position: fixed;
  background: transparent;
  height: 4rem;
  box-sizing: content-box;
  z-index: 999;
  top: 0;
  width: 100%;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, height 0.3s ease;
}
header.scrolled {
  background: white;
  box-shadow: 0px 0px 1.5rem 0px rgba(0, 0, 0, 0.1098039216);
  height: 4rem;
}
header .logo {
  margin-left: calc((17vw - 40px) / 2);
  height: 100%;
  display: flex;
  align-items: center;
}
header .logo a {
  display: block;
  height: 75%;
}
header .logo a img {
  height: 100%;
  width: auto;
  border: none;
  padding: 0;
}
header nav {
  position: fixed;
  height: 0;
  width: 100%;
  opacity: 0;
  background-color: white;
  overflow-y: scroll;
  overscroll-behavior: contain; /* Prevent scroll behind */
  -webkit-overflow-scrolling: touch;
  transition: opacity 0.3s ease, height 0.5s ease;
}
header nav ul {
  list-style-type: none;
}
header nav li {
  padding: 0.5rem 0;
}
header nav a {
  text-decoration: none;
  font-size: inherit;
  color: inherit;
}
header nav .dropdown-toggle {
  background: none;
  border: none;
  color: inherit;
  font-size: inherit;
  cursor: pointer;
  margin-left: 0.5em;
  transition: transform 0.3s ease;
}
header nav .dropdown-toggle.open {
  transform: rotate(180deg); /* Example: rotate the arrow when the menu is open */
}
header nav > div {
  height: 101%;
}
header nav > div > ul {
  margin: auto 0;
  width: calc(83vw + 40px);
  margin: auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0;
}
header nav > div > ul > li {
  text-align: center;
  font-size: 1.2rem;
  color: #102851;
}
header nav > div > ul ul.sub-menu {
  display: none;
  padding: 1rem 0;
}
header nav > div > ul ul.sub-menu li {
  font-size: 1rem;
  color: #555759;
}
header nav > div > ul ul.sub-menu.open {
  display: block;
}
header nav.menu-open {
  opacity: 1;
  height: calc(100vh - 4rem);
}

header.menu-open {
  background-color: white;
}

.header-spacer {
  height: 5rem;
}

@media (min-width: 1200px) {
  header {
    height: 5rem;
    display: flex;
  }
  header.scrolled {
    height: 5rem;
  }
  header .logo {
    flex-shrink: 0;
  }
  header .logo a {
    height: 66%;
  }
  header nav {
    position: static;
    flex-grow: 1;
    background-color: transparent;
    justify-content: center;
    height: auto;
    opacity: 1;
    overflow: visible;
    width: auto;
    margin-right: calc((17vw - 40px) / 2);
  }
  header nav button {
    display: none;
  }
  header nav > div > ul {
    list-style-type: none;
    width: auto;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5rem;
    align-items: center;
  }
  header nav > div > ul > li {
    padding: 1rem 0.75rem;
  }
  header nav > div > ul > li:first-child {
    margin-left: auto;
  }
  header nav > div > ul > li:nth-child(2) {
    margin-left: none;
  }
  header nav > div > ul > li:nth-last-child(3) {
    margin-right: auto;
  }
  header nav > div > ul li {
    position: relative;
    cursor: pointer;
  }
  header nav > div > ul li:hover > a {
    opacity: 0.5;
  }
  header nav > div > ul li:hover > ul.sub-menu {
    display: block;
  }
  header nav > div > ul li:focus-within > a {
    opacity: 0.5;
  }
  header nav > div > ul li.current-menu-item > a, header nav > div > ul li.current-menu-ancestor > a, header nav > div > ul li.current-menu-parent > a {
    font-weight: 600;
    text-decoration: underline;
  }
  header nav > div > ul li > a {
    color: #102851;
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
  }
  header nav > div > ul li ul.sub-menu {
    display: none;
    position: absolute;
    list-style-type: none;
    background: white;
    padding: 0.5rem 0;
    margin: 0;
    left: -0.25rem;
    top: 100%;
    min-width: 9rem;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 1.5rem 0px rgba(0, 0, 0, 0.1098039216);
    white-space: nowrap;
  }
  header nav > div > ul li ul.sub-menu li {
    position: static;
    padding: 0.25rem 1rem;
  }
  header nav > div > ul li ul.sub-menu li a {
    font-size: 0.8rem;
    text-align: left;
    display: block;
  }
  header nav > div > ul li ul.sub-menu li.menu-item-has-children ul.sub-menu {
    top: 0;
    left: 100%;
  }
  header nav > div > ul > li:nth-last-child(2) {
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
    border: 1px solid #2aa7ff;
  }
  header nav > div > ul > li:nth-last-child(2) > a {
    color: #2aa7ff;
    padding: 0;
  }
  header nav > div > ul > li:nth-last-child(2).current-menu-item > a {
    font-weight: 400;
    text-decoration: none;
  }
  header nav > div > ul > li:nth-last-child(1) {
    background: #2aa7ff;
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
  }
  header nav > div > ul > li:nth-last-child(1):hover {
    opacity: 0.8;
  }
  header nav > div > ul > li:nth-last-child(1):hover > a {
    opacity: 1;
  }
  header nav > div > ul > li:nth-last-child(1) > a {
    color: white;
    padding: 0;
  }
}
@media (max-width: 1460px) {
  #menu-item-1448 {
    display: none;
  }
}
.footer {
  margin-top: 5rem;
  background-color: #102851;
  color: white;
  padding: 3rem 0 3rem;
  text-align: center;
}
.footer .footer-brand img {
  width: fit-content;
  margin: 0 auto 1em;
}
.footer .footer-brand p {
  font-size: 0.9rem;
  margin-top: 2em;
}
.footer .footer-links {
  margin-top: 4em;
}
.footer .footer-links .link-container h5 {
  margin-bottom: 1rem;
  color: white;
}
.footer .footer-links .link-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer .footer-links .link-container ul li {
  margin-bottom: 1rem;
}
.footer .footer-links .link-container ul li a {
  color: white;
}
.footer .footer-offices {
  margin-top: 4rem;
}
.footer .footer-offices .our-offices-section {
  padding: 0;
}
.footer .footer-offices .our-offices-section .office {
  margin-bottom: 2em;
}
.footer .footer-offices .our-offices-section a.map img {
  margin: auto;
}
.footer .footer-offices .our-offices-section h5 {
  margin-bottom: 1em;
  color: white;
}
.footer .footer-offices .our-offices-section h4 {
  margin-top: 0.5em;
  margin-bottom: 0.5rem;
  color: white;
}
.footer .footer-offices .our-offices-section h2 {
  display: none;
}
.footer .footer-offices .our-offices-section div.details a {
  color: white;
  margin-bottom: 0.5rem;
  width: 100%;
}
.footer .footer-offices .our-offices-section div.details span {
  display: none;
}
.footer .footer-bottom {
  text-align: center;
  padding-top: 2rem;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 2rem;
}
.footer .footer-bottom p {
  font-size: 1rem;
}
.footer .footer-bottom span {
  display: none;
}
.footer .footer-bottom a {
  color: white;
  text-decoration: underline;
}
@media (min-width: 1200px) {
  .footer {
    text-align: start;
  }
  .footer a {
    text-decoration: none;
  }
  .footer a:hover {
    text-decoration: underline;
  }
  .footer .footer-container.row {
    display: flex;
    gap: max(2rem, 5vw);
  }
  .footer .footer-container.row .footer-brand {
    flex-shrink: 1;
  }
  .footer .footer-container.row .footer-brand img {
    margin-left: 0;
  }
  .footer .footer-container.row .footer-links {
    margin-top: 0;
    flex-shrink: 0;
  }
  .footer .footer-container.row .footer-offices {
    margin-top: 0;
    flex-shrink: 0;
  }
  .footer .footer-container.row .footer-offices .office {
    display: flex;
    gap: 0.5rem;
  }
  .footer .footer-container.row .footer-offices .office img {
    width: calc(160px + 3vw);
  }
  .footer .footer-container.row .footer-offices .office h4 {
    margin-top: 0;
  }
  .footer .footer-bottom br {
    display: none;
  }
  .footer .footer-bottom span {
    display: inline;
  }
}

.page-page h1.page-title {
  text-align: center;
  background-color: #102851;
  color: white;
  padding: 1rem 0;
  margin-bottom: 3rem;
}
.page-page > .container {
  display: flex;
  gap: 2rem;
}
.page-page > .container .main-col {
  flex-basis: 70%;
}
.page-page > .container .sidebar-container {
  flex-basis: 30%;
}
.page-page p {
  margin-bottom: 2rem;
}
.page-page ul,
.page-page ol {
  list-style-position: inside;
}
.page-page ul li,
.page-page ol li {
  margin-bottom: 1rem;
}

.front-page-container #book-now {
  scroll-margin: 5rem;
}
.front-page-container h2 {
  font-size: clamp(2rem, 3.2vw, 70px);
}
.front-page-container .our-offices-section {
  margin-top: 3rem;
}
.front-page-container .our-offices-section .office .map {
  flex-shrink: 0;
}
.front-page-container .our-offices-section .office .map img {
  width: 100%;
}
@media (min-width: 600px) {
  .front-page-container .our-offices-section .office .map img {
    max-width: 275px;
  }
}
@media (min-width: 900px) {
  .front-page-container .our-offices-section .office .map img {
    max-width: 250px;
  }
}
@media (min-width: 1200px) {
  .front-page-container .our-offices-section .office .map img {
    width: clamp(200px, 200px + 1.5vw, 250px);
  }
}
.front-page-container .our-offices-section .office .details {
  padding: 1rem 0 0 1rem;
}
@media (min-width: 1200px) {
  .front-page-container .our-offices-section .office .details {
    padding: 0 0 0 1rem;
  }
}
.front-page-container .our-offices-section .office .details h4 {
  margin-top: 0.5rem;
}
.front-page-container .our-offices-section .office .details h4 > a {
  color: #102851;
}
.front-page-container .our-offices-section .office .details a {
  color: #555759;
}
@media (min-width: 1200px) {
  .front-page-container .our-offices-section .office .details a:hover {
    color: #102851;
    text-decoration: underline;
  }
}
.front-page-container .our-offices-section .office .details .office-icon-row {
  margin-top: 1rem;
}
@media (min-width: 1200px) {
  .front-page-container .our-offices-section .office .details .office-icon-row {
    margin-top: 0.5rem;
  }
}
.front-page-container .our-offices-section .office .details br {
  display: none;
}
.front-page-container .our-offices-section .office + .office {
  margin-top: 2rem;
}
@media (min-width: 600px) {
  .front-page-container .office {
    display: flex;
  }
  .front-page-container .office a {
    text-decoration: none;
  }
}
@media (min-width: 1200px) {
  .front-page-container .sidebar-row {
    display: flex;
    gap: 3vw;
  }
}

.single-page {
  max-width: 65ch !important;
}

h1.title {
  text-align: center;
  background-color: #102851;
  color: white;
  padding: 1rem 0;
  margin-bottom: 3rem;
}

.blog-page h1 {
  text-align: center;
}
.blog-page h1.title {
  text-align: center;
  background-color: #102851;
  color: white;
  padding: 1rem 0;
  margin-bottom: 3rem;
}
.blog-page .blog-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}
.blog-page .blog-list .post {
  padding: 5vw;
  border-radius: 5px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
.blog-page .blog-list h2 a {
  font-size: 2rem;
  text-decoration: none;
  color: #2aa7ff;
}
.blog-page .blog-list h2 a:hover {
  color: #2aa7ff;
  text-decoration: underline;
}
.blog-page .blog-list nav {
  width: 100%;
}
.blog-page .blog-list nav .nav-links {
  display: flex;
  justify-content: center;
}
.blog-page .blog-list nav .nav-links .nav-previous {
  order: 2;
  margin-left: auto;
}
.blog-page .blog-list nav .nav-links .nav-next {
  order: 1;
}
.blog-page .blog-list nav .nav-links a {
  display: block;
  color: #2aa7ff;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  border: 1px solid #2aa7ff;
  text-decoration: none;
}
.blog-page .blog-list nav .nav-links a:hover {
  opacity: 0.8;
}

.teammate-page {
  padding-top: 1rem;
  display: flex;
  gap: 2rem;
}
.teammate-page .main-col {
  flex-basis: 70%;
}
.teammate-page .main-col h1.teammate-title {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 3rem;
}
.teammate-page .main-col h2 {
  font-size: 2rem;
}
.teammate-page .main-col .portrait {
  float: left;
  margin-right: 2rem;
  margin-bottom: 1rem;
  position: relative;
  width: 45%;
}
.teammate-page .main-col .portrait::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/images/portrait-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1; /* Place the background behind the image */
}
.teammate-page .main-col .portrait img {
  display: block;
  position: relative;
  z-index: 5; /* Ensures the portrait image is above the background */
  display: block;
}
.teammate-page .main-col p {
  margin-bottom: 2rem;
}
.teammate-page .sidebar-container {
  flex-basis: 30%;
}

.our-team-page .title h1 {
  text-align: center;
}
.our-team-page .title h5 {
  text-align: center;
}
.our-team-page section {
  padding: 2rem 0;
}
.our-team-page section.mission .row {
  gap: 4rem;
}
.our-team-page section.mission .row .left-col {
  display: flex;
  flex-direction: column;
}
.our-team-page section.mission .row .left-col img {
  width: 100%;
  height: auto;
}
.our-team-page section.mission .row .mid-col {
  display: flex;
  flex-direction: column;
  flex-grow: 1.5;
}
.our-team-page section.mission .row .right-col {
  background-image: url(../assets/images/stock-2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.our-team-page section.mission p {
  margin-bottom: 1rem;
}
.our-team-page section.mission blockquote {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 2rem;
  text-align: left;
  color: #2aa7ff;
  margin: 0;
  padding: 0;
  border: none;
  font-style: normal;
  background: none;
}
.our-team-page section.d-mag .row {
  gap: 2rem;
}
.our-team-page section.d-mag .row .d-img-col {
  flex-grow: 0.66;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.our-team-page section.d-mag .row .d-img-col img {
  width: 100%;
  height: auto;
}
.our-team-page section.awards {
  text-align: center;
  padding: 1rem 0 3rem;
}
.our-team-page section.awards strong {
  color: #102851;
  font-weight: 500;
}
.our-team-page section.awards p {
  margin-bottom: 1rem;
}
.our-team-page section.awards a {
  color: #102851;
}
.our-team-page section.awards a:hover {
  opacity: 0.8;
}
.our-team-page section.meet h5 {
  text-align: center;
}
.our-team-page section.meet h2 {
  text-align: center;
}
.our-team-page section.meet .cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.our-team-page section.meet .cards a.card {
  text-decoration: none;
  color: #555759;
  display: flex;
  gap: 4rem;
  padding: 2rem;
  box-shadow: 0px 26px 55px -15px rgba(0, 0, 0, 0.1882352941);
}
.our-team-page section.meet .cards a.card:hover button {
  text-decoration: underline;
}
.our-team-page section.meet .cards a.card .card-img {
  background-image: url("../assets/images/blue-dome-bg.png");
  background-position: center top;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 1rem 1rem 0;
}
.our-team-page section.meet .cards a.card .card-img img {
  width: 100%;
  display: block;
}
.our-team-page section.meet .cards a.card .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 4;
}
.our-team-page section.meet .cards a.card .content .row {
  align-items: center;
  margin-bottom: 1rem;
}
.our-team-page section.meet .cards a.card .content .row h3 {
  margin: 0;
}
.our-team-page section.meet .cards a.card .content .row span {
  display: block;
  margin-left: 3rem;
}
.our-team-page section.meet .cards a.card .buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}

.hero {
  background-image: url("../assets/images/hero-background.png");
  background-size: cover;
  background-position: center;
  margin-top: -5rem;
  padding-top: 5rem;
  position: relative;
}
.hero .container {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.hero .container .col.left-col {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}
.hero .container .col.left-col h1 {
  font-size: clamp(2rem, 4vw, 5rem);
  color: #102851;
}
.hero .container .col.left-col h1 span {
  color: #2aa7ff;
}
.hero .container .col.left-col .text p + P {
  margin-top: 0.5em;
}
.hero .container .col.left-col .button-row {
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.hero .container .col.left-col .icon-row {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  gap: 2em;
}
.hero .container .col.left-col .icon-row img {
  height: 4em;
  width: auto;
}
@media (min-width: 1200px) {
  .hero br {
    display: none;
  }
  .hero .container.row {
    flex-direction: row;
    text-align: left;
  }
  .hero .container.row .col.left-col {
    order: 1;
    gap: 2rem;
  }
  .hero .container.row .col.left-col .text {
    margin: 0 1rem;
  }
  .hero .container.row .col.left-col .button-row {
    justify-content: flex-start;
    gap: 2rem;
  }
  .hero .container.row .col.left-col .icon-row {
    justify-content: flex-start;
  }
  .hero .container.row .col.right-col {
    order: 2;
  }
  .hero .container.row .col.right-col img {
    margin-top: 0;
    position: absolute;
    height: calc(100% - 5rem);
    left: 50%;
    max-width: min(50%, 1099px);
    object-fit: cover;
    object-position: 42% center;
  }
}
@media (max-width: 599px) {
  .hero br {
    display: none;
  }
}

.learn-more-section {
  margin-top: 3rem;
}
.learn-more-section .learn-more-images {
  margin-top: 2rem;
}
.learn-more-section .learn-more-images img {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
}
.learn-more-section .learn-more-images img.img-bottom {
  margin-top: -10%;
  margin-left: auto;
}
.learn-more-section .learn-more-content h2 {
  margin-bottom: 20px;
}
.learn-more-section .learn-more-content p {
  line-height: 1.6;
  margin-bottom: 2rem;
  margin-left: 0;
}
.learn-more-section .learn-more-content .learn-more-goals h2 {
  margin-bottom: 1rem;
  color: #102851;
}
.learn-more-section .learn-more-content .learn-more-goals .goal,
.learn-more-section .learn-more-content .learn-more-goals .mission {
  margin-top: 1rem;
}
.learn-more-section .learn-more-content .learn-more-goals .goal h3,
.learn-more-section .learn-more-content .learn-more-goals .mission h3 {
  display: flex;
  align-items: center;
  color: #102851;
  font-size: 20px;
  margin-bottom: 10px;
}
.learn-more-section .learn-more-content .learn-more-goals .goal h3 .check-icon,
.learn-more-section .learn-more-content .learn-more-goals .mission h3 .check-icon {
  margin-right: 10px;
  width: 20px;
  height: auto;
}
.learn-more-section .learn-more-content .learn-more-goals .goal p,
.learn-more-section .learn-more-content .learn-more-goals .mission p {
  margin-bottom: 0;
}
@media (min-width: 1200px) {
  .learn-more-section {
    margin-top: 5rem;
  }
  .learn-more-section .row {
    display: flex;
    justify-content: space-between;
  }
  .learn-more-section .col {
    position: relative;
  }
  .learn-more-section .col.learn-more-content {
    flex: 4;
    order: 2;
  }
  .learn-more-section .col.learn-more-images {
    order: 1;
    flex: 3;
  }
  .learn-more-section .learn-more-images {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .learn-more-section .learn-more-images img {
    position: absolute;
    width: 90%;
  }
}
@media (min-width: 1200px) and (min-width: 1800px) {
  .learn-more-section .learn-more-images img {
    width: 80%;
  }
}
@media (min-width: 1200px) {
  .learn-more-section .learn-more-images img.img-top {
    top: 0;
    right: 0;
  }
  .learn-more-section .learn-more-images img.img-bottom {
    bottom: 0;
    left: 0;
  }
  .learn-more-section .learn-more-content {
    padding-left: 3rem;
    padding-top: 2rem;
  }
  .learn-more-section .learn-more-content .learn-more-goals {
    display: flex;
    justify-content: space-between;
  }
  .learn-more-section .learn-more-content .learn-more-goals .goal,
  .learn-more-section .learn-more-content .learn-more-goals .mission {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }
  .learn-more-section .learn-more-content .learn-more-goals .separator {
    width: 2px;
    background-color: #ccc;
    margin: 0 20px;
  }
}

.why-us-section {
  text-align: center;
}
.why-us-section h2 {
  color: #102851;
  margin-bottom: 3rem;
}
.why-us-section h1 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 40px;
}
.why-us-section .cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}
.why-us-section .cards .card {
  flex: 1;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease;
  min-width: 275px;
}
.why-us-section .cards .card .icon {
  margin-bottom: 20px;
}
.why-us-section .cards .card .icon img {
  margin: auto;
}
.why-us-section .cards .card h3 {
  margin-bottom: 10px;
  color: #102851;
}
.why-us-section .cards .card p {
  color: #555759;
}
.why-us-section .cards .card:hover {
  background-color: #2aa7ff;
  color: #ffffff;
}
.why-us-section .cards .card:hover h3,
.why-us-section .cards .card:hover p {
  color: #ffffff;
}
.why-us-section .cards .card.active {
  background-color: #2aa7ff;
  color: #ffffff;
}
.why-us-section .cards .card.active h3,
.why-us-section .cards .card.active p {
  color: #ffffff;
}

.announcements-section {
  background-color: #102851;
  padding: 2rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.announcements-section h5 {
  color: #2aa7ff;
}
.announcements-section h2 {
  color: white;
  margin-bottom: 1.5rem;
  text-align: center;
}
.announcements-section .announcement-content {
  line-height: 1.6;
}
.announcements-section .announcement-content .read-more {
  color: white;
  text-decoration: underline;
  font-weight: 500;
  margin-left: 0.5rem;
}
.announcements-section .announcement-content .read-more:hover {
  color: #2aa7ff;
}
.announcements-section .buttons {
  margin-top: 2rem;
}

.our-team-section h5 {
  text-align: center;
}
.our-team-section h2 {
  color: #102851;
  margin-bottom: 40px;
  text-align: center;
}
.our-team-section .team-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5vw 1vw;
}
.our-team-section .team-cards .team-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-radius: 15px;
  transition: transform 0.5s ease, box-shadow 0.3s ease;
  text-decoration: none;
  cursor: pointer;
}
.our-team-section .team-cards .team-card:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}
.our-team-section .team-cards .team-card:hover .learn-more {
  text-decoration: underline;
}
.our-team-section .team-cards .team-card .card-img {
  background-image: url("../assets/images/blue-dome-bg.png");
  background-position: center top;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 1rem 1rem 0;
}
.our-team-section .team-cards .team-card .card-img img {
  width: 100%;
  display: block;
}
.our-team-section .team-cards .team-card h4 {
  margin-top: 20px;
  color: #102851;
  margin-bottom: 0.5rem;
}
.our-team-section .team-cards .team-card p {
  color: #555759;
  padding: 0 1rem;
  text-align: center;
}
.our-team-section .team-cards .team-card p.learn-more {
  padding-top: 0.5rem;
  color: #2aa7ff;
  margin-top: auto;
}

.our-offices-section .map {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease; /* Smooth transition for zoom effect */
}
.our-offices-section .map:hover {
  transform: scale(1.05); /* Zoom in by 2% */
}
.our-offices-section .map img {
  border-radius: 20px;
}
.our-offices-section h4 a {
  text-decoration: none;
}
.our-offices-section h4 a:hover {
  text-decoration: underline;
}
.our-offices-section .row.office-icon-row {
  flex-wrap: nowrap;
  display: flex;
}
.our-offices-section .row.office-icon-row .icon {
  margin-right: 10px;
  margin-top: 3px;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
}
.our-offices-section .row.office-icon-row.phone .icon {
  background-image: url("../assets/images/icon-phone.png");
}
.our-offices-section .row.office-icon-row.email .icon {
  background-image: url("../assets/images/icon-mail.png");
}
.our-offices-section .row.office-icon-row.address .icon {
  background-image: url("../assets/images/icon-pin.png");
}

.book-now-section {
  background-image: url("../assets/images/book-now-bg-img.jpg");
  background-size: cover;
  border-radius: 1rem;
  color: white;
  position: relative;
  box-shadow: 0px 0px 1.5rem 0px rgba(0, 0, 0, 0.1098039216);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.book-now-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #102851; /* Dark blue overlay with opacity */
  opacity: 0.85;
  border-radius: inherit; /* Match the border-radius of the section */
  z-index: 1; /* Ensure the overlay is above the background but below the content */
}
.book-now-section .content {
  padding: 3rem 2rem;
  max-width: 600px;
  margin: auto;
  text-align: center;
  position: relative;
  z-index: 5;
}
@media screen and (min-width: 1440px) {
  .book-now-section .content {
    padding: 3rem 1rem;
  }
}
.book-now-section .content h2 {
  color: white;
  margin-bottom: 2rem;
}
.book-now-section .content p {
  margin-bottom: 1.5rem;
}
.book-now-section .content form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.book-now-section .content form input[type=text],
.book-now-section .content form input[type=email] {
  padding: 15px;
  border-radius: 5px;
  border: none;
}
.book-now-section .content form input[type=submit] {
  margin-top: 3rem;
  cursor: pointer;
  align-self: center;
}

.sidebar section.book-now-section .content {
  padding: 1.5rem 1rem;
}
.sidebar section.book-now-section .content input.primary-button {
  margin-top: 1rem;
}

.faq-section h5 {
  text-align: center;
}
.faq-section h2 {
  color: #102851;
  margin-bottom: 3rem;
  text-align: center;
}
.faq-section .faq-container .faq-item {
  padding: 0 5rem;
  margin-bottom: 1.5rem;
  border-radius: 10px;
  background: #f9f9f9;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.faq-section .faq-container .faq-item .faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
}
.faq-section .faq-container .faq-item .faq-question h3 {
  margin: 0;
  color: #102851;
  font-size: 1.2rem;
}
.faq-section .faq-container .faq-item .faq-question .faq-icon {
  font-size: 1.5rem;
  color: #102851;
}
.faq-section .faq-container .faq-item .faq-answer {
  max-height: 0;
  overflow: hidden;
  padding: 0 1rem;
  transition: max-height 0.3s ease, padding 0.3s ease;
}
.faq-section .faq-container .faq-item .faq-answer p {
  margin: 0;
  color: #555759;
  font-size: 1rem;
  line-height: 1.6;
}
.faq-section .faq-container .faq-item.active .faq-answer {
  max-height: 200px; /* Adjust this value based on the typical content height */
  padding: 1rem;
}

.sidebar {
  padding: 1rem 2rem;
  box-shadow: 0px 21px 55px -14px rgba(0, 0, 0, 0.2509803922);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.sidebar h3 {
  text-align: center;
}
.sidebar p {
  margin-bottom: 0;
}

.sidebar-row {
  gap: 5vw;
}

/* Base styles for the hamburger menu */
#hamburger-menu {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 24px;
  width: 30px;
  position: absolute;
  right: 0;
  top: 50%;
  translate: 0 -50%;
  margin-right: calc((17vw - 40px) / 2);
}

#hamburger-menu span {
  background-color: #102851;
  height: 3px;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

/* Transform hamburger menu into 'X' when open */
#hamburger-menu.menu-open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

#hamburger-menu.menu-open span:nth-child(2) {
  opacity: 0; /* Hide the middle bar */
}

#hamburger-menu.menu-open span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

/* Larger Screen Styles (Desktop and Tablet) */
@media (min-width: 1200px) {
  /* Hide the hamburger menu on larger screens */
  #hamburger-menu {
    display: none;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: calc(15px + 0.4vw);
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: #555759;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5em;
  color: #102851;
}

/* H1 */
h1 {
  font-weight: 700; /* 700 is bold */
  font-size: 3rem; /* 84px converted to rem */
  line-height: 1.2;
}

/* H2 */
h2 {
  font-weight: 600; /* 600 is semi-bold */
  font-size: 2.5rem; /* 42px converted to rem */
  line-height: 1.2;
  margin-bottom: 1rem;
}

/* H2 - Subheading */
.h2-subheading {
  font-weight: 400; /* 400 is normal */
  font-size: 1.353rem; /* 23px converted to rem */
}

/* H3 */
h3 {
  font-weight: 500; /* 500 is medium */
  font-size: 1.3rem; /* 24px converted to rem */
}

/* H4 */
h4 {
  font-weight: 500; /* 500 is medium */
  font-size: 1.059rem; /* 18px converted to rem */
}

/* H5 */
h5 {
  font-weight: 400; /* 400 is normal */
  font-size: 1.353rem; /* 23px converted to rem */
  color: #2aa7ff;
  line-height: 1.2;
  margin-bottom: 0em;
}

/* H6  used for General Menu*/
h6 {
  font-weight: 600;
  font-size: 1.176rem; /* 20px converted to rem */
}

/* Paragraph */
p {
  max-width: 65ch;
  margin: auto;
}

main {
  min-height: max(600px, 75vh);
}

section + section {
  margin-top: 3rem;
}
@media (min-width: 1200px) {
  section + section {
    margin-top: 5rem;
  }
}

/* Base container styles */
.container {
  width: calc(83vw + 40px);
  margin-right: auto;
  margin-left: auto;
  max-width: 1800px;
}

/* Row */
.row {
  display: block;
}

/* Column */
.col {
  flex: 1; /* Equal width columns */
}

.primary-button {
  display: block;
  width: fit-content;
  background: #2aa7ff;
  font-size: 1rem;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  border: 1px solid #2aa7ff;
  text-decoration: none;
}
.primary-button:hover {
  opacity: 0.8;
  color: white;
}

.outline-button {
  display: block;
  width: fit-content;
  color: #2aa7ff;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  border: 1px solid #2aa7ff;
  text-decoration: none;
}
.outline-button:hover {
  opacity: 0.8;
}



/*# sourceMappingURL=mystyles.css.map */
