.footer {
	margin-top: 5rem;
	background-color: $dark-blue;
	color: white;
	padding: 3rem 0 3rem;
	text-align: center;

	.footer-brand {
		img {
			width: fit-content;
			margin: 0 auto 1em;
		}
		p {
			font-size: 0.9rem;
			margin-top: 2em;
		}
	}

	.footer-links {
		margin-top: 4em;
		.link-container {
			h5 {
				margin-bottom: 1rem;
				color: white;
			}
			ul {
				list-style: none;
				padding: 0;
				margin: 0;
				li {
					margin-bottom: 1rem;
					a {
						color: white;
					}
				}
			}
		}
	}

	.footer-offices {
		margin-top: 4rem;
		.our-offices-section {
			padding: 0;

			.office {
				margin-bottom: 2em;
			}
			a.map {
				img {
					margin: auto;
				}
			}
			h5 {
				margin-bottom: 1em;
				color: white;
			}
			h4 {
				margin-top: 0.5em;
				margin-bottom: 0.5rem;
				color: white;
			}
			h2 {
				display: none;
			}
			div.details {
				a {
					color: white;
					margin-bottom: 0.5rem;
					width: 100%;
					// text-decoration: underline;
				}
				span {
					display: none;
				}
			}
		}
	}

	.footer-bottom {
		text-align: center;
		padding-top: 2rem;
		border-top: 1px solid rgba(255, 255, 255, 0.2);
		margin-top: 2rem;

		p {
			font-size: 1rem;
		}
		span {
			display: none;
		}
		a {
			color: white;
			text-decoration: underline;
		}
	}
	@include for-desktop-up {
		text-align: start;

		.footer-container.row {
			display: flex;
			gap: max(2rem, 5vw);

			.footer-brand {
				flex-shrink: 1;
				img {
					margin-left: 0;
				}
			}
			.footer-links {
				margin-top: 0;
				flex-shrink: 0;
			}
			.footer-offices {
				margin-top: 0;
				flex-shrink: 0;
				.office {
					display: flex;
					gap: 0.5rem;
					img {
						width: calc(160px + 3vw);
					}
					h4 {
						margin-top: 0;
					}
				}
			}
		}
		.footer-bottom {
			br {
				display: none;
			}
			span {
				display: inline;
			}
			p {
			}
		}
	}
}
