// @import "variables";

.footer {
	background-color: $dark-blue;
	color: white;
	padding: 5rem 0 2rem;
	text-align: left;

	.footer-container {
		display: flex;
		justify-content: space-between;
		// flex-wrap: wrap;

		.footer-brand {
			flex-basis: 30%;
			display: flex;
			flex-direction: column;
			// justify-content: space-between;
			gap: 2rem;
			img {
				margin-bottom: 1rem;
				width: fit-content;
			}
			p {
				// margin-bottom: 1rem;
				font-size: 0.9rem;
			}

			.footer-social {
				display: flex;
				gap: 1rem;

				a img {
					width: auto;
					height: 1rem;
				}
			}
		}

		.footer-links {
			flex-basis: 20%;
			padding: 0 1rem;
			display: flex;
			justify-content: center;

			.link-container {
				display: flex;
				flex-direction: column;

				h5 {
					margin-bottom: 1rem;
					color: white;
				}

				ul {
					list-style: none;
					padding: 0;
					margin: 0;

					li {
						margin-bottom: 0.5rem;

						a {
							color: white;
							text-decoration: none;

							&:hover {
								text-decoration: underline;
							}
						}
					}
				}
			}
		}

		.footer-offices {
			flex-basis: 40%;
			.our-offices-section {
				padding: 0;
				h5 {
					margin-bottom: 1rem;
					color: white;
				}
				h4 {
					margin-bottom: 0;
				}
				h2 {
					display: none;
				}
				h4 {
					color: white;
				}
				.details {
					a {
						color: white;
						&:hover {
							text-decoration: underline;
							color: white;
						}
					}
				}
			}
		}
	}

	.footer-bottom {
		text-align: center;
		padding-top: 2rem;
		border-top: 1px solid rgba(255, 255, 255, 0.2);
		margin-top: 2rem;

		p {
			margin: 0;
			font-size: 0.8rem;
		}
		a {
			color: white;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
