// @import "variables";

.page-page {
	min-height: max(600px, 75vh);
	margin-bottom: 5rem;

	h1.page-title {
		text-align: center;
		background-color: $dark-blue;
		color: $white;
		padding: 1rem 0;
		margin-bottom: 3rem;
	}

	p {
		margin-bottom: 2rem;
	}
}
