@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import "variables";
@import "header";
@import "footer";
@import "page";
@import "front-page";
@import "single";
@import "blog";
@import "teammate";
@import "our-team-page";
@import "template-parts";
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 16px;
	scroll-behavior: smooth;
}

body {
	font-family: "Poppins", sans-serif;
	color: $grey;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0.1em;
	margin-bottom: 0.5em;
	color: $dark-blue;
}

/* H1 */
h1 {
	font-weight: 700; /* 700 is bold */
	font-size: 4rem; /* 84px converted to rem */
	line-height: 1.2;
}

/* H2 */
h2 {
	font-weight: 600; /* 600 is semi-bold */
	font-size: 2.5rem; /* 42px converted to rem */
	line-height: 1.2;
	margin-bottom: 1rem;
}

/* H2 - Subheading */
.h2-subheading {
	font-weight: 400; /* 400 is normal */
	font-size: 1.353rem; /* 23px converted to rem */
}

/* H3 */
h3 {
	font-weight: 500; /* 500 is medium */
	font-size: 1.3rem; /* 24px converted to rem */
}

/* H4 */
h4 {
	font-weight: 500; /* 500 is medium */
	font-size: 1.059rem; /* 18px converted to rem */
}

/* H5 */
h5 {
	font-weight: 400; /* 400 is normal */
	font-size: 1.353rem; /* 23px converted to rem */
	color: $light-blue;
	line-height: 1.2;
	margin-bottom: 0em;
}

/* H6  used for General Menu*/
h6 {
	font-weight: 600;
	font-size: 1.176rem; /* 20px converted to rem */
}

/* Paragraph */
p {
	font-family: "Poppins", sans-serif;
	font-weight: normal;
	font-size: 1rem;
	/* color: #555759; */
	max-width: 65ch;
}

main {
	margin-bottom: 5rem;
	min-height: max(600px, 75vh);
}
section {
	margin-bottom: 5rem;
}
/* Base container styles */
.container {
	width: 95%;
	margin-right: auto;
	margin-left: auto;
}

/* Small devices (phones, 320px and up) */
@media (min-width: 320px) {
	.container {
		max-width: 95%;
	}
}
/* Medium small devices (phones, 375px and up) */
@media (min-width: 375px) {
	.container {
		max-width: 360px;
	}
}
/* Large devices (phones, 425px and up) */
@media (min-width: 425px) {
	.container {
		max-width: 400px;
	}
}
/* Tablets (768px and up) */
@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
	html {
		font-size: 18px;
	}
}
/* Small desktops and large tablets (1024px and up) */
@media (min-width: 1024px) {
	.container {
		max-width: 960px;
	}
	html {
		font-size: 16px;
	}
	h1 {
		font-size: 3rem;
	}
}
/* Large desktops (1440px and up) */
@media (min-width: 1440px) {
	.container {
		max-width: 1360px;
	}
	html {
		font-size: 18px;
	}
	h1 {
		font-size: 3.5rem;
	}
}
/* Extra Large desktops (1726px and up) */
@media (min-width: 1726px) {
	.container {
		max-width: 1635px;
	}
	html {
		font-size: 20px;
	}
	h1 {
		font-size: 4rem;
	}
}
/* Row */
.row {
	display: flex;
	flex-wrap: wrap; /* Allows columns to wrap onto the next line if they exceed the row width */
}

/* Column */
.col {
	flex: 1; /* Equal width columns */
}

button {
	font-family: "Poppins", sans-serif;
	font-size: 1rem;
	font-weight: 400;
	cursor: pointer;
}

.primary-button {
	display: block;
	background: $light-blue;
	font-size: 1rem;
	color: $white;
	padding: 0.5rem 1rem;
	border-radius: 0.4rem;
	border: 1px solid $light-blue;
	text-decoration: none;
	&:hover {
		opacity: 0.8;
		color: white;
	}
}
.outline-button {
	color: $light-blue;
	font-size: 1rem;
	font-weight: 400;
	padding: 0.5rem 1rem;
	border-radius: 0.4rem;
	border: 1px solid $light-blue;
	text-decoration: none;
	&:hover {
		opacity: 0.8;
	}
}

/*# sourceMappingURL=mystyles.css.map */
