.hero {
	background-image: url("../assets/images/hero-background.png");
	background-size: cover;
	background-position: center;
	margin-top: -$header-height;
	padding-top: $header-height;
	position: relative;

	.container {
		height: 100%;
		> .row {
			height: 100%;

			.col.left-col {
				height: 100%;
				padding-right: calc(5vw + 1rem);
				display: flex;
				flex-direction: column;
				padding-bottom: 2rem;
				padding-top: 2rem;
				justify-content: space-between;
				gap: 2rem;

				h1 {
					color: $dark-blue;
					span {
						color: $light-blue;
					}
				}

				.text {
					p:first-child {
						margin-bottom: 0.5rem;
					}
				}
				.button-row {
					button:first-child {
						margin-right: 1rem;
					}
				}

				.icon-row {
					padding-top: 2rem;
					> img {
						position: static;
						height: 4rem;
						width: auto;
						margin-right: 1rem;
					}
				}
			}
		}
	}
	img {
		position: absolute;
		top: $header-height;
		left: 50%;
		height: calc(100% - #{$header-height});
		width: 50%;
		max-width: 900px;
		object-fit: cover;
		object-position: 40% center;
	}
}
