.announcements-section {
	background-color: $dark-blue;
	padding: 2rem 4rem;
	border-radius: 10px;
	text-align: center;
	color: white;

	h5 {
		color: $light-blue;
	}

	h2 {
		color: white;
		margin-bottom: 1.5rem;
	}

	.announcement-content {
		margin-bottom: 20px;
		line-height: 1.6;

		.read-more {
			color: $white;
			text-decoration: underline;
			font-weight: 500;
			margin-left: 0.5rem;
			&:hover {
				color: $light-blue;
			}
		}
	}
	.buttons {
		margin-top: 2rem;
	}
}
