.contact-row {
	.col {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-bottom: 3rem;
	}

	.our-offices-section {
		// margin-top: 3rem;

		.office {
			.map {
				flex-shrink: 0;
				img {
					width: 100%;
					@include for-tablet-portrait-up {
						max-width: 275px;
					}
					@include for-tablet-landscape-up {
						max-width: 250px;
					}
					@include for-desktop-up {
						width: clamp(200px, 200px + 1.5vw, 250px);
					}
				}
			}
			.details {
				padding: 1rem 0 0 1rem;
				@include for-desktop-up {
					padding: 0 0 0 1rem;
				}
				h4 {
					margin-top: 0.5rem;
				}
				h4 > a {
					color: $dark-blue;
				}
				a {
					color: $grey;
					@include for-desktop-up {
						&:hover {
							color: $dark-blue;
							text-decoration: underline;
						}
					}
				}
				.office-icon-row {
					margin-top: 1rem;
					@include for-desktop-up {
						margin-top: 0.5rem;
					}
				}
				br {
					display: none;
					// @include for-desktop-up {
					// 	display: inline;
					// }
				}
			}
			& + .office {
				margin-top: 2rem;
			}
		}
	}

	@include for-tablet-portrait-up {
		.office {
			display: flex;
			a {
				text-decoration: none;
			}
		}
	}
}
@include for-desktop-up {
	.row.contact-row {
		display: flex;
		gap: 3vw;
	}
}
