.faq-section {
	h5 {
		text-align: center;
	}
	h2 {
		color: $dark-blue;
		margin-bottom: 3rem;
		text-align: center;
	}

	.faq-container {
		.faq-item {
			margin-bottom: 1.5rem;
			border-radius: 10px;
			background: #f9f9f9;
			overflow: hidden;
			box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
			padding: $responsive-padding;

			.faq-question {
				display: flex;
				justify-content: space-between;
				align-items: center;

				max-width: calc(900px + 20vw);
				margin: auto;
				cursor: pointer;

				h3 {
					margin: 0;
					color: $dark-blue;
					font-size: 1.2rem;
				}

				.faq-icon {
					font-size: 1.5rem;
					color: $dark-blue;
				}
			}

			.faq-answer {
				max-height: 0;
				overflow: hidden;
				transition: max-height 0.3s ease, padding 0.3s ease;
				max-width: calc(900px + 20vw);
				margin: auto;

				p {
					margin: 0;
					color: $grey;
					font-size: 1rem;
					line-height: 1.6;
				}
			}

			&.active {
				.faq-answer {
					max-height: 300px;
					padding-top: 1rem;
				}
			}
		}
	}
}
