.hero {
	background-image: url("../assets/images/hero-background.png");
	background-size: cover;
	background-position: center;
	margin-top: -$header-height;
	padding-top: $header-height;
	position: relative;

	.container {
		display: flex;
		flex-direction: column;
		text-align: center;

		.col.left-col {
			display: flex;
			flex-direction: column;
			padding: 2rem 0;

			h1 {
				font-size: clamp(2rem, 4vw, 5rem);
				color: $dark-blue;
				span {
					color: $light-blue;
				}
			}
			.text {
				p + P {
					margin-top: 0.5em;
				}
			}
			.button-row {
				margin-top: 1em;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				gap: 1rem;
			}
			.icon-row {
				display: flex;
				justify-content: center;
				margin-top: 2em;
				gap: 2em;
				img {
					height: 4em;
					width: auto;
				}
			}
		}
	}

	@include for-desktop-up {
		br {
			display: none;
		}
		.container.row {
			flex-direction: row;
			text-align: left;

			.col.left-col {
				order: 1;
				gap: 2rem;
				h1 {
					margin-bottom: 0;
				}
				.text {
					margin-right: 2vw;
				}

				.button-row {
					justify-content: flex-start;
					gap: 2rem;
				}
				.icon-row {
					justify-content: flex-start;
				}
			}
			.col.right-col {
				order: 2;
				img {
					margin-top: 0;
					position: absolute;
					height: calc(100% - $header-height);
					left: 50%;
					max-width: min(50%, 1099px);
					object-fit: cover;
					object-position: 42% center;
				}
			}
		}
	}
	@include for-phone-only {
		br {
			display: none;
		}
	}
}
