.learn-more-section {
	.row {
		display: flex;
		justify-content: space-between;
	}

	.col {
		flex: 1;
		position: relative;
	}
	.col.learn-more-content {
		flex: 4;
	}
	.col.learn-more-images {
		flex: 3;
	}

	.learn-more-images {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;

		img {
			position: absolute;
			border-radius: 8px;
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
			width: 90%;
			@media screen and (min-width: 1440px) {
				width: 80%;
			}

			&.img-top {
				top: 0;
				right: 0;
			}

			&.img-bottom {
				bottom: 0;
				left: 0;
				// transform: translateX(-10%);
			}
		}
	}

	.learn-more-content {
		padding-left: 3rem;
		padding-top: 2rem;

		h2 {
			margin-bottom: 20px;
			color: $dark-blue;
		}

		> p {
			line-height: 1.6;
			margin-bottom: 2rem;
		}

		.learn-more-goals {
			display: flex;
			justify-content: space-between;

			.goal,
			.mission {
				flex: 1;
				display: flex;
				flex-direction: column;

				h3 {
					display: flex;
					align-items: center;
					color: $dark-blue;
					font-size: 20px;
					margin-bottom: 10px;

					.check-icon {
						margin-right: 10px;
						width: 20px;
						height: auto;
					}
				}

				p {
					line-height: 1.6;
				}
			}

			.separator {
				width: 2px;
				background-color: #ccc;
				margin: 0 20px;
			}
		}
	}
}
