.sidebar {
	padding: 1rem 2rem;
	box-shadow: 0px 21px 55px -14px #00000040;
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;

	h3 {
		text-align: center;
	}

	section.book-now-section {
		.content {
			padding: 1.5rem 1rem;

			input.primary-button {
				margin-top: 1rem;
			}
		}
	}

	section.our-offices-section {
		.office {
			flex-direction: column;
			&:first-of-type {
				margin-bottom: 3rem;
			}
			.map {
				flex-basis: 100%;
				margin-bottom: 0.25rem;
			}
		}
	}
}
